<h1>SongDB</h1>
<% @artists.each do |artist| %>
    <p><%= link_to artist.name, artist_path(artist.id) %></p>
    <% artist.photos.each do |photo| %>
    <%= link_to (image_tag photo.image), artist_path(artist.id) %>
    <% end %>
<% end %>
